.LayoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--viewportPadding);
}

@media screen and (max-width: 576px) {
  .LayoutContainer {
    padding: var(--xsViewportPadding);
  }
}

.Footer {
  padding: 12px 0;
  color: #00000040;
}
.Center {
  text-align: center;
}
.Right {
  text-align: right;
}
